// Fichier : sass/index.scss
// Vos styles personnalisés



.modal-dialog {
  margin: 0 !important;  // Utilisez !important pour s'assurer que ce style a la priorité
  min-height: 100vh; /* Utilise vh pour la hauteur du viewport */
  display: flex;
  flex-direction: column;
  margin: 0; /* Supprimez la marge si vous voulez que la modal atteigne les bords */
}

.modal-content {
  flex-grow: 1; /* Permet à la modal-content de remplir l'espace disponible */
  border-radius: 0; /* Maintient les coins carrés même sur les petits appareils */
}

@media (max-width: 576px) {
  .modal-dialog {
    min-height: auto; /* ou une hauteur spécifique plus appropriée pour les petits appareils */
  }
  .modal-content {
    border-radius: 0; /* Maintient les coins carrés même sur les petits appareils */
  }
}

// css de démo - n'a pas vocation a rester dans le projet
/* Styles pour le Jumbotron avec image de fond */
.bg-image {
    background-size: cover;
    background-position: center center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Styles pour assurer que le footer reste en bas */
.main-content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
main {
    flex-grow: 1;
}
footer {
    margin-top: auto;
}
// css de démo - n'a pas vocation a rester dans le projet

// Carrousel base customisation
#offersCarousel {
    .alert {
        position: absolute;
        border-radius:0;
        right: 0;
        padding:.4em;
        border: none;
    }
    .carousel-indicators {
        top: 5%;
    }
    .carousel-caption {
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: #fff;
        text-align: center;
    }
}

#modalOffers {
    .modal-body {
        padding:0;
    }
    .carousel-caption.bg-dark {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    top: 45%;
    background-color: #000;
    margin: 0 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  filter: brightness(0) invert(1); /* Icône blanche */
}
// Carrousel base customisation

.modal-footer {
    font-size: .8em !important;
}

.cgv-content,.privacy-policy-content {
    font-size:.8em;
    h2 {
        font-size:1.2em;
    }
}

//Survey JS reset
    .sv-container-modern__title {
        padding-top: 1%;
    }
    .sv-body {
        padding-bottom: 1%;
    }
    .sv-body__timer, .sv-body__page, .sv-body__footer.sv-footer.sv-action-bar {
        margin-top: 0;
    }

    .sv-completedpage, .sv-container-modern__title {
        margin-right: 0;
        margin-left: 0;
    }

    .sv-completedpage {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
//Survey JS reset

//loader animation
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
    .loading-text {
        font-size: .5em !important;
      animation: blink 1.5s infinite;
      font-weight: bold; /* Optionnel: Ajoutez du style au texte si nécessaire */
    }
    .loader {
      border: 5px solid #f3f3f3; /* Couleur de fond */
      border-top: 5px solid #3498db; /* Couleur du loader */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite;
      margin:auto;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
//loader animation
