// Avant d'importer le SCSS de Bootstrap, surchargez les variables
$modal-lg: 100% ; // Largeur par défaut de la modale pour les écrans md et plus grands
$modal-md: 100% ; // Largeur par défaut de la modale pour les écrans md et plus grands
$modal-sm: 100%; // Largeur par défaut pour les petits écrans

:root {
  --bs-modal-margin: 0%;
}

// Importation des fichiers de Bootstrap
@import '~bootstrap/scss/bootstrap';
