<div class="alert bg-secondary py-1 border-0 rounded-0">
    <div class="container text-center text-light">
        <small>{{ (channel ~ '.header.souscription')|trans|raw }}</small>
    </div>
</div>
