{% if channel == 'ottopeek' or channel == 'default' %}
<div class="bg-dark">
{% else %}
<div class="bg-light">
{% endif %}
    <footer class="pt-5 pb-3">
        <div class="container">
            <div class="row">
                {% include 'partials/_footer/' ~ channel ~  '/company_details.twig' %}
                {% include 'partials/_footer/' ~ channel ~  '/footer_menu.twig' %}
                {% include 'partials/_footer/' ~ channel ~  '/company_newsletter.twig' %}
            </div>
            {% include 'partials/_footer/' ~ channel ~  '/footer_bottom.twig' %}
        </div>
    </footer>
</div>
