<header class="bg-white">

    {% include 'partials/header/alert.twig' %}
    
    <div class="container d-flex justify-content-between align-items-center py-2">

        {% include 'partials/header/menu.twig' %}

        <div class="row align-items-center">

          {% include 'partials/header/connexion.twig' %}
          {% include 'partials/header/language-selector.twig' %}

      </div>
    </div>
</header>
