
<section class="bg-light py-5">
  <div class="container">
        <div class="row justify-content-center pt-4">
        {% for i in logoIndices %}
            <div class="col-auto">
                <img src="{{ webrootURL }}/public/media/{{ channel }}/logocar{{ i }}.webp" alt="{{ (channel ~ '.home.section5.logo'~ i ~'.alt')|trans|raw }}" class="img-fluid lazyload">
            </div>
        {% endfor %}
        </div>
  </div>
</section>
