<div class="header-banner">
    <div class="alert border-0 rounded-0 p-0">
        <div class="container-fluid text-end text-light">
            <div class="row justify-content-end">
                <div class="bg-dark-diagonal col-lg-6 py-1 bg-dark pe-5 text-center">
                    <small>{{ (channel ~ '.header.souscription')|trans|raw }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
