{% extends 'modals/modal-layout.twig' %}

{% block modalID %}{{ modalIds.modal6 }}{% endblock %}

{% block modalLabel %}{{ modalIds.modal6 }}Label{% endblock %}

{% block modalHeader %}
    <div class="col-10">
        {% include 'modals/partials/modal-header.twig' with {'id': modalIds.modal6 ~ 'Label', 'title': "Contact"} %}
    </div>
    <div class="col-2 text-end"> <!-- Utiliser "float-end" pour le flottement -->
        <button class="backButton btn btn-info text-light " data-dismiss="modal">Retour</button>
    </div>
{% endblock %}

{% block modalBody %}
    {% include 'modals/forms/survey-js-contact.twig'%}
{% endblock %}

{% block modalFooter %}
  {{ parent() }}
{% endblock %}
