{% extends 'modals/modal-layout.twig' %}

{% block modalID %}{{ modalIds.modal5 }}{% endblock %}

{% block modalLabel %}{{ modalIds.modal5 }}Label{% endblock %}

{% block modalHeader %}
    <div class="col-10">
        {% include 'modals/partials/modal-header.twig' with {'id': modalIds.modal5 ~ 'Label', 'title': "Politique de Confidentialité de {{ companyName }} Introduction"} %}
    </div>
    <div class="col-2 text-end"> <!-- Utiliser "float-end" pour le flottement -->
        <button class="backButton btn btn-info text-light " data-dismiss="modal">Retour</button>
    </div>
{% endblock %}

{% block modalBody %}
    {% include 'modals/legals/modal-privacy-section.twig'%}
{% endblock %}

{% block modalFooter %}
    <div class="col-2 text-end"> <!-- Utiliser "float-end" pour le flottement -->
        <button class="backButton btn btn-info text-light " data-dismiss="modal">Retour</button>
    </div>
{% endblock %}
