<div class="d-flex align-items-center my-3">
    <h6 class="me-3 text-dark">{{ (channel ~ '.footer.sections.currency.titre')|trans|raw  }}</h6>
    <select name="currency" class="form-select w-25">
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
        <option value="gbp">GBP</option>
        <option value="cad">CAD</option>
        <!-- Ajoutez d'autres devises au besoin -->
    </select>
</div>
