{% extends 'layout.twig' %}

{% block title %}
    {{ (channel ~ '.home.title')|trans|raw }} - {{ parent() }}
{% endblock %}

{% block content %}
    {% if order is iterable %}
        {% for section_num in order %}
            {% include 'partials/home/' ~ channel ~ '/section' ~ section_num ~ '.twig' %}
        {% endfor %}
    {% else %}
        <p>Les sections ne sont pas définies ou le format de l'ordre est incorrect.</p>
    {% endif %}
{% endblock %}
